@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.search-form {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: left;
  h2{
    font-size: 2rem;
    margin: 0 auto;
  }
  .form-input {
    width: 100%;
    border: transparent;
    max-width: $fixed-width;
    background: transparent;
    padding: 1rem;
    font-size: 1rem;
    color: $black;
    letter-spacing: $spacing;
    margin-top: 1rem;
    border-bottom: 3px $grey-7 solid;
    text-transform: uppercase;
  }
  .error {
    color: $red-dark;
    text-transform: capitalize;
    padding-top: 0.5rem;
    letter-spacing: $spacing;
  }
}

@include tablet{
  .search-form{
    h2{
      font-size: 2.5rem;
    }
  }
}